html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #1c1b21;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
}

.header__bg {
  position: absolute;
  z-index: -1;
}

.header__bg img {
  width: 100%;
}

.header__top {
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 0 56px;
  margin-top: 42px;
}

.ns {
  font-size: 48px;
  font-weight: 700;
  max-width: 300px;
  margin-bottom: 45px;
}

.wfl {
  display: flex;
  font-size: 100px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.header__content {
  margin-top: 320px;
  margin-bottom: 205px;
}

.info__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 180px;
}

.info,
.info,
.info {
  position: relative;
}

.text-overlay {
  background-color: rgba(122, 102, 204, 0.7);
  border-radius: 20px 0px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  position: absolute;
  padding: 20px;
  width: 100%;
  max-width: 310px;
  bottom: 0;
}

.text-overlay1 {
  max-width: 310px;
}

.text-overlay2 p {
  max-width: 200px;
}

.text-overlay3 p {
  max-width: 210px;
}

.second-block {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 238px;
}

.info-second {
  display: flex;
  justify-content: space-between;
  max-width: 405px;
  max-height: 51px;
  margin-bottom: 60px;
}

.info-second img {
  width: 64px;
  height: 31px;
  margin-top: 10px;
  margin-bottom: 19px;
  margin-right: 30px;
}

.content-name {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

.main__info-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-info__images {
  display: flex;
}

.img-top {
  position: absolute;
  top: -66px;
  right: 95px;
  z-index: 2;
  max-width: 350px;
  width: 100%;
}

.img-bot {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 350px;
  width: 100%;
}

.main-info {
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.7;
}

.main-info-add {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
  font-size: 18px;
  font-weight: 600;
  flex-wrap: wrap;
  width: 100%;
  max-width: 540px;
  margin-bottom: 150px;
}

.main-info-add p {
  margin-bottom: 33px;
  border-radius: 10px;
  padding-left: 50px;
  position: relative;
  line-height: 1.55;
}

.main-info-add p:last-child {
  margin-bottom: 0;
}

.main-info-add p::before {
  background-color: #7a66cc;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px 0px;
  left: 0;
}

.block-third__wraper {
  position: relative;
}

.block-third-info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  border: 1px solid #fff;
  border-radius: 30px 0px;
  padding: 50px 80px;
}

.block-third-img {
  position: absolute;
  bottom: -25%;
  right: 6%;
}

.block-third-info p {
  display: block;
  position: relative;
  max-width: 520px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.block-third-info p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #fff;
  opacity: 1;
}

.block-third-info p::after {
  content: '';
  position: absolute;
  width: 103px;
  height: 92px;
  top: 0;
  left: 0;
  background-image: url("../img/third-bg.png");
}

.block-third-info a {
  color: #7a66cc;
  font-weight: 700;
}

.block-four {
  display: flex;
}

.container-four {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin-top: 180px;
}

.block-four-info {
  max-width: 4900px;
  width: 100%;
  height: 270px;
}

.graphic-four {
  width: 64px;
  height: 31px;
  margin-right: 30px;
  margin-top: 10px;
}

.name-four {
  font-size: 48px;
  font-weight: 700;
  max-width: 271px;
  width: 100%;
  margin-bottom: 137px;
}

.ellipse {
  max-width: 434px;
  width: 100%;
  height: 434px;
}

.main-info-four {
  font-size: 18px;
  font-weight: 400;
  counter-reset: item 0;
  margin-bottom: 50px;
}

.main-info-four p::before {
  content: counter(item,decimal-leading-zero) ". ";
  counter-increment: item;
  margin-right: 5px;
}

.main-info-four p {
  margin-bottom: 20px;
}

.info1 {
  color: #7a66cc;
}

.block-four-footer {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
}

.item-link1::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/spotify.png");
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 1;
}

.item-link2::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/itunes.png");
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 1;
}
