html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #1c1b21;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
}

.header__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.header__bg img {
  width: 100%;
}

.header__top {
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 0 56px;
  margin-top: 42px;
}

.ns {
  font-size: 48px;
  font-weight: 700;
  max-width: 300px;
  margin-bottom: 45px;
}

.wfl {
  display: flex;
  font-size: 100px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.header__content {
  margin-top: 320px;
  margin-bottom: 205px;
}

.info__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 180px;
}

.info,
.info,
.info {
  position: relative;
}

.text-overlay {
  background-color: rgba(122, 102, 204, 0.7);
  border-radius: 20px 0px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  position: absolute;
  padding: 20px;
  width: 100%;
  max-width: 310px;
  bottom: 0;
}

.text-overlay1 {
  max-width: 310px;
}

.text-overlay2 p {
  max-width: 200px;
}

.text-overlay3 p {
  max-width: 210px;
}
